body {
    background: gray;
    overflow: hidden;
}

.bento-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 100dvh;
    width: 100dvw;
}

.box {
    height: 23dvh;
    width: 21dvw;
    background-color: burlywood;
    border-radius: 20px;
}

.box.six {
    height: 45dvh;
    width: 46dvw;
}

.box.five {
    height: 45dvh;
}

.box.seven {
    height: 45dvh;
}